<div class="parallax1">
  <div class="overlay">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="col-md-4">
            <div class="box-img">
              <img src="assets/images/object.jpg" alt="" />
            </div>
          </div>
          <div class="col-md-4">
            <div class="box-text">
              <h2>KEY RESPONSIBILITIES</h2>
              <p>Designing and specifying medium and large software systems, high availability and scalable platform,</p>
              <p>Automating and monitoring scripts,</p>
              <p>Deploying applications in a continuous way</p>
              <p>Collaborating with specialists of different areas for the implementation of cross-domain activities.</p>
              <p>Mentoring and guiding less experienced consultants,</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="box-img">
              <img src="assets/images/object1.jpg" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
