<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="box-content blog">
        <h1>Blog</h1>
        <div id="owl-demo-blog" class="owl-carousel owl-theme owl-details">
          <!-- to be repeated -->
          <div class="item">
            <img src="http://placehold.it/1100x1057" alt="" />
            <p class="details-title">Martin J.<a href="blog.html" class="itemPreview smooth-redirect"></a></p>
            <p class="blog-desc">
              Appropriately work prospective meta-services and client-centered relationships.
              Global miniMe html plus angularjs for .....
            </p>
            <p class="date-blog">September 14, 2014 / Design</p>
          </div>
          <!-- end of to be repeated -->
        </div>
      </div>
    </div>
  </div>
</div>
