<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="box-content about">
        <h1> WHO AM I ? </h1>
        <div class="col-md-4">
          <div class="box-text">
            <h2>SUMMARY</h2>
            <p>multi-skilled DevOps engineer and middleware architect with comprehensive experience of designing, developing and deploying complete software factories for developers’ team, on premise and cloud-based.</p>
            <p>My main interests are Azure cloud, Rancher, Kubernetes, DevOps, development and system administration.</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="box-img">
            <img src="assets/images/office.jpg" alt="" />
          </div>
        </div>
        <div class="col-md-4">
          <div class="box-text">
            <h2>Personal data</h2>
            <p>E-mail: <a href="mailto:francois_colombo@yahoo.fr?subject=Contact">francois_colombo@yahoo.fr</a></p>
            <p>Location: <a href="https://www.google.ch/maps/place/1185+Mont-sur-Rolle/@46.4767686,6.3205155,14z/data=!3m1!4b1!4m5!3m4!1s0x478c460b23804fc9:0xb166400b09bd61c7!8m2!3d46.4693048!4d6.3405436">Mont sur Rolle, Switzerland</a></p>
            <p>GitHub: <a href="https://github.com/francoiscolombo">https://github.com/francoiscolombo</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="parallax1">
  <div class="overlay">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="col-md-4">
            <div class="box-img">
              <img src="assets/images/object.jpg" alt="" />
            </div>
          </div>
          <div class="col-md-4">
            <div class="box-text">
              <h2>USUAL DUTIES</h2>
              <p>Mentoring and guiding less experienced consultants,</p>
              <p>Designing and specifying medium and large software systems, high availability and scalable platform,</p>
              <p>Automation and monitoring scripts,</p>
              <p>Collaborate with specialists of different areas for the implementation of cross-domain activities.</p>
              <p>Deployment of applications in a continuous way</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="box-img">
              <img src="assets/images/object1.jpg" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
