<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="box-content about">
        <h1> WHO AM I ? </h1>
        <div class="col-md-4">
          <div class="box-text">
            <h2>SUMMARY</h2>
            <p>Multi-skilled DevOps/SysOps engineer and middleware architect with comprehensive experience in designing, developing and deploying complete software factories.</p>
            <p>My main interests are development, system administration and cloud platforms.</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="box-img">
            <img src="assets/images/office.jpg" alt="" />
          </div>
        </div>
        <div class="col-md-4">
          <div class="box-text">
            <h2>Personal data</h2>
            <p>E-mail: <a href="mailto:francoiscolombo@protonmail.com?subject=Contact">francoiscolombo@protonmail.com</a></p>
            <p>Location: <a href="https://www.google.ch/maps/place/1185+Mont-sur-Rolle/@46.4767686,6.3205155,14z/data=!3m1!4b1!4m5!3m4!1s0x478c460b23804fc9:0xb166400b09bd61c7!8m2!3d46.4693048!4d6.3405436">Mont sur Rolle, Switzerland</a></p>
            <p>GitHub: <a href="https://github.com/francoiscolombo">https://github.com/francoiscolombo</a></p>
            <p>LinkedIn: <a href="https://www.linkedin.com/in/francoiscolombo">https://www.linkedin.com/in/francoiscolombo</a></p>
            <p><a href="assets/documents/Francois_Colombo.pdf" class="downloadCvButton">Download my resume</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
