<header>
  <app-header></app-header>
</header>

<section id="section1" class="cd-section">
  <app-whoami></app-whoami>
</section>

<section id="section2" class="cd-section">
  <app-responsibilities></app-responsibilities>
</section>

<section id="sectionX" class="cd-section">
  &nbsp;
</section>

<section id="section3" class="cd-section">
  <app-experiences></app-experiences>
</section>

<!--
this will come later
<section id="section4" class="cd-section">
  <app-blog-articles></app-blog-articles>
</section>
-->

<section id="section5" class="cd-section">
  <app-work></app-work>
</section>

<section id="section6" class="cd-section">
  <app-contact></app-contact>
</section>

<section id="section7" class="cd-section">
  <app-footer></app-footer>
</section>
