<header>
  <fc-header></fc-header>
</header>

<section id="section1" class="cd-section">
  <fc-whoami></fc-whoami>
</section>

<section id="section2" class="cd-section">
  <fc-work></fc-work>
</section>

<section id="section3" class="cd-section">
  <fc-experiences></fc-experiences>
</section>

<!--
this will come later
<section id="section_blog" class="cd-section">
  <fc-blog-articles></fc-blog-articles>
</section>
-->

<section id="section4" class="cd-section">
  <fc-contact></fc-contact>
</section>

<!--
need some work
<section id="section6" class="cd-section">
  <fc-footer></fc-footer>
</section>
-->
