<div id="top" class="container">
  <div class="row">
    <nav class="col-md-12">
      <ul class="col-md-9 col-sm-9 menu">
        <li class="cl-effect-11 current"><a data-hover="HOME" href="#section1">Home</a></li>
        <li class="cl-effect-11"><a data-hover="RESPONSIBILITIES" href="#section2">Responsibilities</a></li>
        <li class="cl-effect-11"><a data-hover="EXPERIENCE" href="#section3">Experience</a></li>
        <!--li class="cl-effect-11"><a data-hover="BLOG" href="#section4">Blog</a></li-->
        <li class="cl-effect-11"><a data-hover="PROJECTS" href="#section5">Projects</a></li>
        <li class="cl-effect-11"><a data-hover="CONTACT" href="#section6">Contact</a></li>
      </ul>
    </nav>
  </div>
</div>
